In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
agents = pd.read_csv('./agentsdb.csv')
nodes = pd.read_csv('./nodesdb.csv')
edges = pd.read_csv('./linksdb.csv')

In [3]:
agents.head()

   # age  gender  hhType  hhId  Node
0     19       0       1   177  1534
1     15       0       1    64  4152
2     22       1       1   150  1541
3     24       1       1   129  3152
4     26       0       1    28  3155

In [4]:
nodes.head()

   # number    coord_x     coord_y   evacuation   reward
0         0  367727.69  3713892.68            0        1
1         1  367727.44  3713901.78            0        1
2         2  367367.07  3713872.28            0        1
3         3  367759.24  3713895.07            0        1
4         4  367729.12  3713860.74            0        1

In [5]:
edges.head()

   #number  node1  node2  length   width
0        0      0      1       9       3
1        1      0      2     361       3
2        2      3      0      31       3
3        3      4      0      31       3
4        4      3      5      70       3

In [6]:
ngdf = gpd.GeoDataFrame(data=nodes,geometry=gpd.points_from_xy(x=nodes.coord_x,y=nodes.coord_y),crs='EPSG:6690')

In [9]:
ngdf.head()

,# number,coord_x,coord_y,evacuation,reward,geometry
0,0,367727.69,3713892.68,0,1,POINT (367727.690 3713892.680)
1,1,367727.44,3713901.78,0,1,POINT (367727.440 3713901.780)
2,2,367367.07,3713872.28,0,1,POINT (367367.070 3713872.280)
3,3,367759.24,3713895.07,0,1,POINT (367759.240 3713895.070)
4,4,367729.12,3713860.74,0,1,POINT (367729.120 3713860.740)

In [22]:
pop = []
for i,row in ngdf.iterrows():
    pop.append(agents.Node[agents.Node == row['# number']].count())
ngdf['pop']=pop

In [29]:
ngdf['pop'].max()

134